/* Additional fine tuning for jumbotron */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: rgb(158, 30, 30);
  border-radius: 0;
  border-bottom: 10px solid rgb(158, 30, 30);;
}

/* Styling for all body text */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1;
  background: rgb(99, 160, 184);
}

/* Styling for text boxes */
.time-block {
  text-align: center;
  border-radius: 15px;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.hour-div {
  text-align: center;
  margin: auto;
  font-family:'Courier New', Courier, monospace;
  font-size: 100%;
  font-weight: bold;
  color: rgb(158, 30, 30);
}

.text-box {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 3px solid green;
  border-right: 3px solid green;;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

#last-row {
  border-bottom: 3px solid green;
}

.row {
  white-space: pre-wrap;
  height: 90px;
  border-top: 3px solid green;
}

.container {
  padding-bottom: 50px;
}

/* Colour changes to reflect system time */
.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}

/* Styling for save button */
.saveBtn {
  background-color: #3d66d8;
  border:1px solid grey;
  color: white;
  padding: 5px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 0.4s;
  cursor: pointer;
  justify-content: center;
}

/* Effects for style button mouse over */
.saveBtn:hover {
  background-color: rgb(158, 30, 30);
}

